body {
    background-color: #3e3636;
}

.app-white {
    color: #f5eded;
}

.app-bg-white {
    background-color: #f5eded;
}

.app-red {
    color: #d72323;
}

.app-bg-red {
    background-color: #d72323;
}

.app-darkgrey {
    color: #3e3636;
}

.app-bg-darkgrey {
    background-color: #3e3636;
}


